.choice1 {
    position: absolute;
    left: 25%;
    top: 40%;
    height: 50%;
    width: 20%;
    color: rgba(255, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0);
    z-index: 1;
    border-style: none;
    opacity: 0;
  }
  .choice2 {
    position: absolute;
    top: 40%;
    right: 25%;
    height: 50%;
    width: 20%;
    color: rgba(255, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0);
    z-index: 1;
    border-style: none;
    opacity: 0;
  }